{
  "vueIndentScriptAndStyle": true,
  "singleAttributePerLine": true,
  "importOrder": [
    "node:(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^vue$",
    "^vue-router$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "singleQuote": true
}
